@model TestProject.Models.Example
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form method="post">
    <div>
        <p>@Html.LabelFor(m => m.Name)</p>
        <p>@Html.TextBoxFor(m => m.Name)</p>
        
        <p>@Html.LabelFor(m => m.Surname)</p>
        <p>@Html.TextBoxFor(m => m.Surname)</p>

        <input type="submit" value="Zapisz"/>
    </div>
</form>