@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>SUPER APKA</h3>
    <h1>FCard</h1>
    <p class="lead">Pierwsze próby HTML</p>
</div>

<span>Pytaie co można wstawić na stronie głównej???</span>
<p>Pierwsze próby HTML</p>