@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>SUPER APKA</h3>
    <h1>FCard</h1>
    <p class="lead">Pierwsze próby HTML</p>
</div>

<p> @Html.ActionLink("Dodaj pacjenta", "AddPatient", "Patient", new { @class = "btn btn-primary" })</p>


<p> @Html.ActionLink("Dodaj kartę", "AddCard", "FeverCard", new { @class = "btn btn-primary" })</p>


<p> @Html.ActionLink("Dodaj omia", "AddMeasure", "Measure", new { @class = "btn btn-primary" })</p>