@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>SUPER APKA</h3>
    <h1>FCard</h1>
    <p class="lead">Pierwsze próby HTML</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <p> @Html.ActionLink("Dodaj pacjenta", "Add", "Patient", null, new { @class = "btn btn-primary" })</p>


    <p> @Html.ActionLink("Dodaj kartę", "Add", "FeverCard", null, new { @class = "btn btn-primary" })</p>


    <p> @Html.ActionLink("Dodaj pomiar", "Add", "Measure", null, new { @class = "btn btn-primary" })</p>
}